<!DOCTYPE html>

<html>
<head>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="main.js"></script>

    <script>
        var SampleApp = angular.module('SampleApp', ["dactilo-tabledropper"])
            .controller("SampleController", function ($scope) {

                $scope.model = {
                    header: {
                        first: {
                            label: "A"
                        },
                        cells: [{
                            label: "B"
                        }, {
                            label: "C"
                        }]
                    },

                    lines: [{
                        first: {
                            label: "1"
                        },
                        cells: [{
                            label: "2"
                        }, {
                            label: "3"
                        }]
                    }, {
                        first: {
                            label: "4"
                        },
                        cells: [{
                            label: "5"
                        }, {
                            label: "6"
                        }]
                    }, {
                        first: {
                            label: "7"
                        },
                        cells: [{
                            label: "8"
                        }, {
                            label: "9"
                        }]
                    }]
                };

                $scope.addColumn = function() {
                    $scope.model.header.cells.push({
                        label: "X"
                    });

                    $scope.model.lines.forEach(function(line) {
                        line.cells.push({
                            label: "X"
                        });
                    });
                };

                $scope.onDrop = function (oldIndex, newIndex, mode) {
                    alert("Dropped: " + oldIndex + " " + newIndex + " " + mode);
                };

                $scope.$watch('model', function (model) {
                    $scope.modelAsJson = angular.toJson(model, true);
                }, true);
            })
    </script>
</head>


<body ng-app="SampleApp">
<div ng-controller="SampleController">
    <table dtd-table dtd-model="model" dtd-drop="onDrop">
        <thead>
        <tr>
            <th>{{ model.header.first.label }}</th>
            <th ng-repeat="row in model.header.cells" class="handle">{{ row.label }}</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="line in model.lines">
            <td class="handle">{{ line.first.label }}</td>
            <td ng-repeat="cell in line.cells">{{ cell.label }}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th>{{ model.header.first.label }}</th>
            <th ng-repeat="row in model.header.cells" class="handle">{{ row.label }}</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="line in model.lines">
            <td>{{ line.first.label }}</td>
            <td ng-repeat="cell in line.cells">{{ cell.label }}</td>
        </tr>
        </tbody>
    </table>

    <button ng-click="addColumn()">Add a column</button>
    <pre>{{ modelAsJson }}</pre>
</div>
</body>
</html>