<!DOCTYPE html>

<html>
<head>

    <script src="node_modules/angular/angular.min.js"></script>
    <script src="main.js"></script>

    <script>
        var SampleApp = angular.module('SampleApp', ["dactilo-tabledropper"])
            .controller("SampleController", function ($scope) {
                $scope.model = {
                    header: [{
                        label: "A"
                    }, {
                        label: "B"
                    }, {
                        label: "C"
                    }],

                    lines: [[{
                        label: "1"
                    }, {
                        label: "2"
                    }, {
                        label: "3"
                    }], [{
                        label: "4"
                    }, {
                        label: "5"
                    }, {
                        label: "6"
                    }], [{
                        label: "7"
                    }, {
                        label: "8"
                    }, {
                        label: "9"
                    }]]
                };

                $scope.$watch('model', function(model) {
                    $scope.modelAsJson = angular.toJson(model, true);
                }, true);
            })
    </script>
</head>


<body ng-app="SampleApp">
<div ng-controller="SampleController">
    <table dtd-table dtd-model="model">
        <thead>
        <tr>
            <th ng-repeat="row in model.header" class="handle">{{ row.label }}</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="line in model.lines">
            <td ng-class="{ 'handle' : $index == 0 }" ng-repeat="row in line">{{ row.label }}</td>
        </tr>
        </tbody>
    </table>

    <table>
        <thead>
        <tr>
            <th ng-repeat="row in model.header">{{ row.label }}</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="line in model.lines">
            <td ng-repeat="row in line">{{ row.label }}</td>
        </tr>
        </tbody>
    </table>

    <pre>{{ modelAsJson }}</pre>
</div>
</body>
</html>